/* standard reset code */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

/* end reset code */

body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;  
    background-image: url(./images/furley_bg.png);
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
}

/* Once the page loads, javascript code in controllers.js displays 
   the .page element, provided the user is not using IE < 9. In 
   that case, the .page element remains hidden and the css
   code at the bottom of this page applies. */

.page {
    padding-top: 5px;
    padding-bottom: 30px;
    display: none;
}

.left-column {
    float: left;
    width: 0;
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    
    -webkit-transition: all 0.7s ease;
       -moz-transition: all 0.7s ease;
        -ms-transition: all 0.7s ease;
         -o-transition: all 0.7s ease;
            transition: all 0.7s ease;
}

.palettes-found {
}

.successful-keywords {
    font-weight: bold;
}
.palette-list {
    font-size: 1em;
    margin-top: 20px;
}

.palette-container {
    margin-top: 40px;
    cursor: pointer;
}

.palette-container:first-child {
    margin-top: 0px;
}

.palette-container img {
    border: solid 3px #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  
}

.palette-container img.selected {
    border: solid 3px #d37;
}

.palette-container p {
    padding-right: 4px;
}

.palette-title {
    font-weight: bold;
    font-size: 1.1em;
}

.palette-info {
    padding-top: 1px;
}

.palette-description {
    padding-top: 10px;
}

.main-box-wrapper {
    min-width: 730px;
    
    -webkit-transition: margin-left 0.7s ease;
       -moz-transition: margin-left 0.7s ease;
        -ms-transition: margin-left 0.7s ease;
         -o-transition: margin-left 0.7s ease;
            transition: margin-left 0.7s ease;
}

.main-box {
    margin: 0 auto;
    text-align: center;
}

.header {
}

.search-label {
    font-size: 1em;
}
.search-field {
    width: 150px;
}
.status-report {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

.color-panels-container {
}

.current-palette-title {
  font-weight: bold;
}

.current-palette-header {
    margin-top: 15px;
    font-size: 1.2em;
}

.color-panels {
    overflow: hidden;
    margin: auto;
    width: 700px;
}

.color-panel {
    background-color: #486D57;
    width: 90px;
    height: 45px;
    padding: 5px;
    margin: 10px;
    border: solid 10px #ccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: left;
    cursor: pointer;

    -webkit-transition: background-color 0.7s ease;
       -moz-transition: background-color 0.7s ease;
        -ms-transition: background-color 0.7s ease;
         -o-transition: background-color 0.7s ease;
            transition: background-color 0.7s ease;
}

.color-panel.selected {
    border: solid 10px #d37;
}

.canvas-container {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.brush-size-label {
    font-size: 0.8em;
}

.clear-restore-button {
    margin-top: 0px;
    margin-left: 30px;
}

.canvas-controls {
  margin-top: 10px;
}

.canvas {
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid #2c7 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

/* ----------------------------- */
/* IE < 9 special notice section */
/* ----------------------------- */


.ie8-and-below {
    display: none;
}

html.ie body {
    background-color: #eee;
    /* Centers block elements in IE5.5, needs to be overriden for text inside the element. */
    text-align: center;
}

html.ie .ie8-and-below  {
    display: block;
    width: 400px;
    margin: 35px auto 25px;
    padding: 20px 30px 15px;
    border: solid #59E01B 1px;
    background-color: white;
    text-align: justify;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#204F09')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#204F09');
}

html.ie p {
    padding-bottom: 15px;
}

html.ie div.picture {
    /* Centers picture in IE5.5 */
    text-align: center;
    margin: 10px auto 25px;
}

html.ie img {
    display: block;
    margin: 0 auto;
}


