/* standard reset code */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }
a {text-decoration: none; color: #000; }

/* end reset code */

body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url(./images/furley_bg.png);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
}

a {
  text-decoration: none;
  color: #2889ad;
  cursor: pointer;
}

a:hover {
  color: #7fd7f7;
}

a:active {
  color: #aaa;
}

.page {
    padding-top: 15px;
    padding-bottom: 30px;
}

.left-column {
    float: left;
    width: 0;
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: auto;

    -webkit-transition: all 0.7s ease;
       -moz-transition: all 0.7s ease;
        -ms-transition: all 0.7s ease;
         -o-transition: all 0.7s ease;
            transition: all 0.7s ease;
}

.palettes-found {
}

.successful-keywords {
    font-weight: bold;
}
.palette-list {
    font-size: 1em;
    margin-top: 20px;
}

.palette-container {
    margin-top: 40px;
    cursor: pointer;
}

.palette-container:first-child {
    margin-top: 0px;
}

.palette-container img {
    border: solid 3px #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.palette-container img.selected {
    border: solid 3px #d37;
}

.palette-container p {
    padding-right: 4px;
}

.palette-title {
    font-weight: bold;
    font-size: 1.1em;
}

.palette-info {
    padding-top: 1px;
}

.palette-description {
    padding-top: 10px;
}

.main-box-wrapper {
    min-width: 730px;

    -webkit-transition: margin-left 0.7s ease;
       -moz-transition: margin-left 0.7s ease;
        -ms-transition: margin-left 0.7s ease;
         -o-transition: margin-left 0.7s ease;
            transition: margin-left 0.7s ease;
}

.main-box {
    margin: 0 auto;
    text-align: center;
}

.header p {
    margin-bottom: 7px;
}

.search-label {
    font-size: 1em;
}
.search-field {
    width: 150px;
}
.status-report {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

.color-panels-container {
}

.current-palette-title {
  font-weight: bold;
}

.current-palette-header {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.color-panels {
    overflow: hidden;
    margin: auto;
    width: 700px;
}

.color-panel {
    background-color: #ccc;
    width: 90px;
    height: 45px;
    padding: 5px;
    margin: 10px;
    border: solid 10px #ccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: left;
    cursor: pointer;

    -webkit-transition: background-color 0.7s ease;
       -moz-transition: background-color 0.7s ease;
        -ms-transition: background-color 0.7s ease;
         -o-transition: background-color 0.7s ease;
            transition: background-color 0.7s ease;
}

.color-panel.selected {
    border: solid 10px #d37;
}

.canvas-container {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.canvas-controls {
    margin-bottom: 5px;
    position: relative;
    font-size: 0.8em;
}

.canvas-controls .clear-restore-button, .canvas-controls .instructions-link {
    margin-top: 0px;
    margin-left: 30px;
}

.canvas-controls .instructions {
    position: absolute;
    opacity: 0;
    display: none;
    left: 68%;
    top: -10px;
    background: #fff;
    padding: 30px;
    -o-box-shadow:    2px 2px 3px 3px rgba(150,150,150, 0.7);
    -ms-box-shadow:    2px 2px 3px 3px rgba(150,150,150, 0.7);
    -moz-box-shadow:    2px 2px 3px 3px rgba(150,150,150, 0.7);
    -webkit-box-shadow: 2px 2px 3px 3px rgba(150,150,150, 0.7);
    box-shadow:         2px 2px 3px 3px rgba(150,150,150, 0.7);
    border-radius: 10px;
    width: 200px;
    -o-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.canvas-controls .instructions li {
  margin-top: 8px;
  text-align: left;
}

.canvas-controls .instructions .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 90%;
}

#deleteUserBox #message {
  margin-top: 20px;
  font-size: 68%;
}

.canvas {
    width: 900px;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid #2c7 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

.copyright {
    padding-top: 10px;
    font-size:75%;
    color: #777;
}

/* ----------------------------- */
/* IE < 9 special notice section */
/* ----------------------------- */

/* Disable IE < 9 message under normal circumstances */
.ie8-and-below {
    display: none;
}

/* Disable normal display of page under IE < 9 circumstances */
html.ie .page {
  display: none;
}

html.ie body {
    background-color: #eee;
    /* Centers block elements in IE5.5, needs to be overriden for text inside the element. */
    text-align: center;
}

html.ie .ie8-and-below  {
    display: block;
    width: 400px;
    margin: 35px auto 25px;
    padding: 20px 30px 15px;
    border: solid #59E01B 1px;
    background-color: white;
    text-align: justify;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#204F09')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#204F09');
}

html.ie p {
    padding-bottom: 15px;
}

html.ie div.picture {
    /* Centers picture in IE5.5 */
    text-align: center;
    margin: 10px auto 25px;
}

html.ie img {
    display: block;
    margin: 0 auto;
}


